@charset "utf-8";
/* This adds in the design style sheet without putting it on the index */
@import url("cw_designs.css");
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 3
   
   Author:   
   Date:      
   
   Filename: cw_styles.css

   This file contains the screen styles used with the 
   Cauli-Wood Gallery home page

*/


/* Import Basic Design Styles  */



/* ===============================
	General Styles for All Devices
   ===============================
*/
/* This makes the bottom nav a flex box and centers it, stops it from wraping, makes it a row, and sets max size. */
#bottom {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: center;
    -webkit-justify-content: center;
}

#bottom ul {
    max-width: 150px;
    flex: 0 1 150px;
}

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
/* This sets up for the mbile device the color of the body and several other elements and makes it a flex box row that can wrap with all of the top nav list items as pictures. Thi also sets up the link boxs/circles for the telephone and the email link. */
@media only screen and (max-width: 480px) {
    body {
        color: rgb(211, 211, 211);
        background-color: rgb(51, 51, 51);
    }

    aside,
    article img,
    #spotlight {
        display: none;
    }

    nav#top ul {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
    }

    nav#top ul li {
        font-size: 2.2em;
        flex: 1 1 130px;
    }

    nav#top ul li:nth-of-type(1) {
        background-image: url('cw_image01.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav#top ul li:nth-of-type(2) {
        background-image: url('cw_image02.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav#top ul li:nth-of-type(3) {
        background-image: url('cw_image03.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav#top ul li:nth-of-type(4) {
        background-image: url('cw_image04.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav#top ul li:nth-of-type(5) {
        background-image: url('cw_image05.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav#top ul li:nth-of-type(6) {
        background-image: url('cw_image06.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    #links {
        display: -webkit-flex;
        display: flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    #links a {
        color: rgb(255, 255, 255);
        background-color: rgb(220, 27, 27);
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
    }
}

/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
 */
/* This makes only the desktop or tablet mode have these styles. These styles make seeral flex boxes like the top nav and the body. This changes the sizes, growth rat, and shrink rate of several items as well. This centers the tonav as well as changes ing its color and makeing the telephone and email link disapear. */
@media only screen and (min-width:481px) {
    body {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
    }

    article {
        flex: 2 1 400px;
    }

    aside {
        flex: 2 1 200px;
    }

    #top {
        display: -webkit-flex;
        display: flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        background-color: rgb(51, 51, 51);
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
    }

    #top ul {
        display: -webkit-flex;
        display: flex;
        background-color: rgb(51, 51, 51);
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    #top ul li {
        max-width: 80px;
        flex: 1 1 auto;
    }

    #links {
        display: none;
    }
}